body {
	margin: 0;
	background: rgb(204, 204, 204);
	font-size: 22px;
	font-family: "Quicksand", sans-serif;
	color: #000;
}
page {
	background: white;
	margin: 0.5cm auto;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}
page * {
	box-sizing: border-box;
}
page[size="A4"] {
	width: 21cm;
	height: 29.7cm;
	/*padding: 2cm 1cm 2cm 1cm;*/
	padding: 1cm 1cm 0.8cm 1cm;
}
@media print {
	body,
	page {
		margin: 0;
		box-shadow: none;
	}
}
article {
	padding: 0 0 20px 0;
}
ul,
dl,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
dd {
	margin: 0;
}

header {
	display: none;
}

.caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.caption img {
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
	background: #00a1e2;
	border-radius: 10px 0;
}
.caption h2 {
	display: inline;
	margin-left: 15px;
	font-size: 26px;
	color: #00a1e2;
	text-transform: uppercase;
	margin: 0;
	margin-left: 20px;
}

.title {
	font-size: 32px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
}
h1 {
	font-size: 26px;
	margin: 0;
}
h2 {
	font-size: 15px;
	text-wrap: nowrap;
	margin: 0;
	margin-bottom: 2px;
}

p {
	margin: 0 0 10px 0;
	font-size: 16px;
}
.highlight {
	width: 60%;
	padding-left: 0.8cm;
}

.archetypes,
.mechanics {
	display: inline-flex;
	width: 100%;
	flex-basis: auto;
	flex-wrap: wrap;
	margin-bottom: 10px;
	gap: 5px;
}
.archetype {
	flex: 1;
}
.mechanic {
	flex: 1;
}
.archetype img,
.mechanic img {
	width: 100%;
	border-radius: 6px;
}
.archetype span,
.mechanic span {
	display: block;
	font-size: 10px;
}
